.CarList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .CarItem {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .CarItem h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .CarItem p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .CarItem img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  